In [14]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [15]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kadiri,IN,2021-05-31 14:58:21,14.1167,78.1667,87.21,50,51,13.06
1,1,Rikitea,PF,2021-05-31 14:58:21,-23.1203,-134.9692,74.08,66,0,13.47
2,2,Necochea,AR,2021-05-31 14:58:22,-38.5473,-58.7368,57.04,63,57,21.65
3,3,Georgetown,MY,2021-05-31 14:58:22,5.4112,100.3354,86.90,76,20,1.01
4,4,Bluff,NZ,2021-05-31 14:58:22,-46.6000,168.3333,49.80,66,93,6.04

In [16]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [17]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [21]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [23]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [31]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kadiri,IN,2021-05-31 14:58:21,14.1167,78.1667,87.21,50,51,13.06
3,3,Georgetown,MY,2021-05-31 14:58:22,5.4112,100.3354,86.90,76,20,1.01
7,7,Pitimbu,BR,2021-05-31 14:58:23,-7.4706,-34.8086,77.59,78,41,13.00
12,12,Puerto Carreno,CO,2021-05-31 14:58:25,6.1890,-67.4859,79.57,75,100,5.57
13,13,San Cristobal,VE,2021-05-31 14:58:25,7.7669,-72.2250,78.98,63,97,6.13
...,...,...,...,...,...,...,...,...,...,...
544,544,Guadalupe Victoria,MX,2021-05-31 15:01:51,32.2869,-115.1050,81.57,48,0,7.83
547,547,Tutoia,BR,2021-05-31 15:01:52,-2.7619,-42.2744,86.92,55,14,7.00
554,554,Guarapari,BR,2021-05-31 15:01:55,-20.6667,-40.4975,84.90,66,95,7.38
556,556,Akalkot,IN,2021-05-31 15:01:56,17.5333,76.2167,83.77,62,82,11.92
559,559,Praxedis Guerrero,MX,2021-05-31 15:01:58,31.3667,-106.0167,78.57,26,0,6.93

In [34]:
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [41]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0           Kadiri      IN     87.21  14.1167   78.1667
3       Georgetown      MY     86.90   5.4112  100.3354
7          Pitimbu      BR     77.59  -7.4706  -34.8086
12  Puerto Carreno      CO     79.57   6.1890  -67.4859
13   San Cristobal      VE     78.98   7.7669  -72.2250
17         Kabinda      CD     86.05  -6.1333   24.4833
33    Flic En Flac      MU     75.76 -20.2742   57.3631
38          Bereda      ES     85.14  43.2686   -7.5406
46           Natal      BR     83.05  -5.7950  -35.2094
50        Bengkulu      ID     78.48  -3.8004  102.2655

In [42]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [44]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

    # Grab the first hotel from the results and store the name.
    try:
        hotel_name = hotels["results"][0]["name"]
        hotel_df.loc[index, "Hotel Name"] = hotel_name
        print(f"Added {hotel_name} to hotel_df...")
    except (IndexError):
        print("Hotel not found... skipping.")

Added Railway Guest House to hotel_df...
Added Cititel Penang to hotel_df...
Added Reserva do Abiaí to hotel_df...
Added Casa Hotel Victoria to hotel_df...
Added Posada Villaven C.A. to hotel_df...
Added Village Mianda Mutole to hotel_df...
Added Hilton Mauritius Resort & Spa to hotel_df...
Added Pazo de Verdes to hotel_df...
Added Villa Park Hotel | Natal to hotel_df...
Added Grage Hotel Bengkulu to hotel_df...
Added Kost Pria to hotel_df...
Added Hotel Santa Fe to hotel_df...
Hotel not found... skipping.
Added RUBEN JARAMILLO XALAPA to hotel_df...
Added Hotel Vitasoa to hotel_df...
Added Tesoro Los Cabos to hotel_df...
Added The Heraudiere bed and breakfast to hotel_df...
Added Sheraton Nha Trang Hotel & Spa to hotel_df...
Added Tinidee Hotel@Ranong to hotel_df...
Added Scoop Guest House to hotel_df...
Added Finch Bay Galapagos Hotel to hotel_df...
Added Storyboard Beach Resort to hotel_df...
Added Hotel Wixel to hotel_df...
Added Hilo Hawaiian Hotel to hotel_df...
Added Amiin Hotel to hotel_df...
Added Logis Hôtel les Gravades to hotel_df...
Added Green Grass Hotel & Restaurant to hotel_df...
Added Hotel Chik Chik Namibe to hotel_df...
Added Villa Enata to hotel_df...
Added Hotel Flamingo to hotel_df...
Added Lorengau Harbourside Hotel to hotel_df...
Added Hotel Neves to hotel_df...
Added Kashmiri Hotal to hotel_df...
Added Isles Sunset Lodge to hotel_df...
Added hotel diana to hotel_df...
Added Hotel Mirage to hotel_df...
Added Bheemili Court to hotel_df...
Added Screensaver to hotel_df...
Added RMS Travellers Inn to hotel_df...
Added SEGAYA PROPERTY to hotel_df...
Added HAMDAN PLAZA HOTEL SALALAH to hotel_df...
Added Penginapan Kim to hotel_df...
Added INN NEW HORIZON to hotel_df...
Added Yos ega cv to hotel_df...
Added LT Aparthotel to hotel_df...
Added Uruna Bay Retreat to hotel_df...
Added Pousada Monte Carmelo O Pão to hotel_df...
Added Secretaria de saúde to hotel_df...
Added Macs to hotel_df...
Added Best Western Plus Abbey Inn to hotel_df...
Added Hotel Nusantara Nabire to hotel_df...
Added Motel 6 Sinton, TX to hotel_df...
Added Oceano to hotel_df...
Added waigo splash hotel to hotel_df...
Hotel not found... skipping.
Added Holiday Inn Express & Suites Elk Grove Central - Hwy 99, an IHG Hotel to hotel_df...
Added Sulthan Hotel International to hotel_df...
Added Nusa Island Retreat to hotel_df...
Added ALETHEIA Appartement Sinnamary to hotel_df...
Added Hotel H1 to hotel_df...
Added Namatanai Hotel to hotel_df...
Added Mercure Padang to hotel_df...
Added Foyer ADM to hotel_df...
Added SpringHill Suites by Marriott Ridgecrest to hotel_df...
Added Hotel Jai Bhawani to hotel_df...
Added Bora-Bora Pearl Beach Resort & Spa to hotel_df...
Added Veranda Paul et Virginie Hotel & Spa to hotel_df...
Added Guojin Commercial Hotel to hotel_df...
Added casa de los dinosaurios to hotel_df...
Added Hotel El Emigrante to hotel_df...
Added Pousada Porto Praia to hotel_df...
Added Apartment Av. Castelao to hotel_df...
Added HOTEL IMAN فندق إيمان to hotel_df...
Added Little Rock Suites to hotel_df...
Added El rranchito michuacan de ocampos to hotel_df...
Added Casas Luci to hotel_df...
Added Vista Palace Hotel to hotel_df...
Added SULIMAN INN to hotel_df...
Added Fengshui Residence to hotel_df...
Added Hotel Mpampa to hotel_df...
Hotel not found... skipping.
Added Swiss-Belhotel Ambon to hotel_df...
Added Hotel Olako to hotel_df...
Added Sunimit Mansion to hotel_df...
Added Ungoofaaru Inn to hotel_df...
Added casa carranza to hotel_df...
Added Mini Hotel Central to hotel_df...
Added Abha Hotel to hotel_df...
Added Vahmoneh Lodge Vanimo to hotel_df...
Added Quality Suites Vila Velha to hotel_df...
Added Hôtel Première Classe Niort La Crèche to hotel_df...
Added Pondok Wisata Elim to hotel_df...
Added Urmia Kimia Mah Hotel to hotel_df...
Added Bungalow 63 to hotel_df...
Added Grand Vilia Hotel to hotel_df...
Added Atlantis Hotel to hotel_df...
Added Hotel Pousada Tropical to hotel_df...
Added khách sạn 88 to hotel_df...
Added The 27th House to hotel_df...
Added Conrad Bora Bora Nui to hotel_df...
Hotel not found... skipping.
Hotel not found... skipping.
Added Maitai Lapita Village Huahine to hotel_df...
Added Gulisitan Hotel to hotel_df...
Added Amaloh Boutique Resort to hotel_df...
Added Auki Motel to hotel_df...
Added Hotel Quinta Antigua to hotel_df...
Added Hôtel Le Dronmi to hotel_df...
Added Hotel Albergue de Olinda to hotel_df...
Added Lords Inn Somnath to hotel_df...
Added Ujamaa Beach Resort to hotel_df...
Added Ha'apai Beach Resort to hotel_df...
Added Massagus Hotel to hotel_df...
Added Pousada e churrascaria Manguaba to hotel_df...
Added Homewood Suites by Hilton Fresno Airport/Clovis, CA to hotel_df...
Hotel not found... skipping.
Added La Posada Hotel to hotel_df...
Added Family to hotel_df...
Added JM Lodge to hotel_df...
Added Hotel Las Casitas Santa Rosalia to hotel_df...
Added Hôtel & Restaurant DIANA Ambilobe to hotel_df...
Added Hotel Beatitude de Grand Lahou to hotel_df...
Added Pousada Porto De Canoas to hotel_df...
Added Hotel Albret to hotel_df...
Added Kevina Transient House to hotel_df...
Added Casa Maquia to hotel_df...
Added Hotel On The Rock by Prasanthi to hotel_df...
Added Résidence Hôtel Ange Anaé to hotel_df...
Added Hotel Tankah Cancun to hotel_df...
Added Ikathouse to hotel_df...
Added Halane Hotel and Restaurent to hotel_df...
Added Auto Hotel Refugio de Don Pepe to hotel_df...
Added Hotel Restaurant Unicum Elzenhagen to hotel_df...
Added Hotel Pigalle to hotel_df...
Added Medhufushi Island Resort to hotel_df...
Added Mier 09 to hotel_df...
Added Ramah Kost KITA to hotel_df...
Added JABIR HOTEL to hotel_df...
Added Hotel Cambuci to hotel_df...
Hotel not found... skipping.
Added يوسف to hotel_df...
Added Pudong Holiday Hotel to hotel_df...
Added asi es to hotel_df...
Added Gostinitsa Aybek Shieli to hotel_df...
Added Hotel Ritz Sumbe to hotel_df...
Hotel not found... skipping.
Added Pazo do Souto to hotel_df...
Added Omadhoo Inn to hotel_df...
Hotel not found... skipping.
Added Welcombe Hotel to hotel_df...
Added OYO 49518 Hotel Chetali to hotel_df...
Added Rumah mbah Jamah to hotel_df...
Added NORTHVIEW Hotel to hotel_df...
Added Dibbo areaمنطقة دبو to hotel_df...
Added Hotel Millenium to hotel_df...
Added Welcomhotel By ITC Hotels, Bay Island, Port Blair to hotel_df...
Hotel not found... skipping.
Added HS Hotsson Smart Acapulco to hotel_df...
Added Hotel Dial to hotel_df...
Added Pousada Guará's to hotel_df...
Added Hotel Porto do Sol to hotel_df...
Added Hotel Vikas to hotel_df...
Added Iglesia Bautista Dios con Nosotros to hotel_df...

In [45]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kadiri,IN,87.21,14.1167,78.1667,Railway Guest House
3,Georgetown,MY,86.90,5.4112,100.3354,Cititel Penang
7,Pitimbu,BR,77.59,-7.4706,-34.8086,Reserva do Abiaí
12,Puerto Carreno,CO,79.57,6.1890,-67.4859,Casa Hotel Victoria
13,San Cristobal,VE,78.98,7.7669,-72.2250,Posada Villaven C.A.
17,Kabinda,CD,86.05,-6.1333,24.4833,Village Mianda Mutole
33,Flic En Flac,MU,75.76,-20.2742,57.3631,Hilton Mauritius Resort & Spa
38,Bereda,ES,85.14,43.2686,-7.5406,Pazo de Verdes
46,Natal,BR,83.05,-5.7950,-35.2094,Villa Park Hotel | Natal
50,Bengkulu,ID,78.48,-3.8004,102.2655,Grage Hotel Bengkulu

In [49]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]